<h1>Notepad</h1>
<div>
    <div class="text-right">
        <a class="btn btn-secondary" href="/?page=baitap1">Trở lại</a>
    </div>
    <p class="text-success">Nội dung đã lưu</p>
    <hr>
    <p><%= data %></p>
</div>